.card_custom {
  border: 1px solid #cbc0ad;
  background: #faf6f3;
  border-radius: 18px;
  width: 10rem;
  height: 7rem;
  color: #e2dedb;
  cursor: pointer;
}

.card_custom_select {
  border: 1px solid #cbc0ad;
  background: #4adab6;
  border-radius: 18px;
  width: 10rem;
  height: 7rem;
  color: #ffffff;
  cursor: pointer;
}